.card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

